<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML forms JavaScript server-side</title>
  </head>
  <body>
    <h2>Body</h2>
    <p><pre><%= body %></pre></p>
    <h2>Files</h2>
    <p><pre><%= files %></pre></p>
    <form method="post" enctype="multipart/form-data">
      <p>
        checkbox <input type="checkbox" name="checkbox">
      </p>
      <p>
        checkboxCheckedDisabled <input type="checkbox" name="checkboxCheckedDisabled" checked disabled>
      </p>
      <p>
        checkboxCheckedReadonly <input type="checkbox" name="checkboxCheckedReadonly" checked readonly>
      </p>
      <p>
        file <input type="file" name="file">
      </p>
      <p>
        submit <input type="submit" name="submit">
      </p>
    </form>
  </body>
</html>
